.form-item {
  --padding-start: 0;
  margin-bottom: 15px;
  --background: transparent;
}

.row-inputs {
  display: flex;
  gap: 10px;
}

.half-width {
  flex: 1;
}

.error-msg {
  color: var(--ion-color-danger);
  font-size: 0.8rem;
  margin-top: -10px;
  margin-bottom: 10px;
  padding-left: 5px;
}

ion-input, ion-select, ion-textarea {
  --border-radius: 8px;
}