<ion-content [fullscreen]="true" class="ion-padding login-background">

  <div class="config-btn-container">
    <ion-button fill="clear" size="small" (click)="abrirConfiguracion()">
      <ion-icon slot="icon-only" name="settings" color="primary"></ion-icon>
    </ion-button>
  </div>
  
  <div class="login-container">
    <!-- Logo o Título del Proyecto -->
    <div class="header-section">
      <h1 class="main-title">SAKI</h1>
      <p class="subtitle">Sistema Experto de Clasificación CIF</p>
    </div>

    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Bienvenida</ion-card-title>
        <ion-card-subtitle class="ion-text-center">Ingresa tus credenciales</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          
          <!-- Input Usuario -->
          <ion-input
            class="custom-input"
            label="Usuario"
            label-placement="floating"
            fill="outline"
            formControlName="usuario"
            placeholder="Ingresa tu usuario">
          </ion-input>
          
          <!-- Espacio -->
          <div class="spacer"></div>

          <!-- Input Password -->
          <ion-input
            class="custom-input"
            label="Contraseña"
            label-placement="floating"
            fill="outline"
            type="password"
            formControlName="password"
            placeholder="********">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>

          <!-- Botón de Acción -->
          <div class="ion-margin-top">
            <ion-button expand="block" type="submit" [disabled]="loginForm.invalid" class="login-btn">
              INICIAR SESIÓN
              <ion-icon slot="end" name="log-in-outline"></ion-icon>
            </ion-button>
          </div>

        </form>
      </ion-card-content>
    </ion-card>
    
    <p class="footer-text">Tesis Ingeniería de Sistemas © 2025</p>
  </div>

</ion-content>